
{{ form_start(form) }}

    <div>
        {{ form_label(form.title, 'Title*')}}
        {{ form_widget(form.title,{ 'attr': {'class': 'form-title'} }) }}
    </div>

    <div>
        {{ form_label(form.content, 'Contenue*')}}
        {{ form_widget(form.content, { 'attr': {'class': 'form-content'} }) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    
{{ form_end(form) }}

