{% extends 'base.html.twig' %}

{% block title %}{{ title }} - Sếp péo's blog{% endblock %}

{% block body %}
    <div class="col-md-8">
    <h1>{{ title }}</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
        <div class="row">
            <a class="btn btn-primary" href="{{ path('post_show', {('slug') : post.urlAlias}) }}" role="button">Back to post</a>
            <br>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
